a.wp-block-wpzoom-video-popup-block-block svg {
    height: 20px;
    width: 20px;
}
.legacy-preschool-kindergarten-header .wp-block-navigation__submenu-container a {
    color: #000 !important;
}
.legacy-preschool-kindergarten-header{
    background-color: #3b3e40 !important;
}