<!-- wp:template-part {"slug":"header","tagName":"header","className":"site-header"} /-->
<!-- wp:group {"tagName":"main","layout":{"type":"constrained"}} -->
<main class="wp-block-group">
	<!-- wp:pattern {"slug":"rainbow-preschool/preschool-banner"} /-->
	<!-- wp:pattern {"slug":"rainbow-preschool/preschool-services"} /-->
	<!-- wp:pattern {"slug":"rainbow-preschool/preschool-about"} /-->
	<!-- wp:pattern {"slug":"rainbow-preschool/preschool-latest-posts"} /-->
</main>
<!-- /wp:group -->
<!-- wp:template-part {"slug":"footer","tagName":"footer","className":"site-footer"} /-->