<!-- wp:template-part {"slug":"header","tagName":"header"} /-->
<!-- wp:group {"tagName":"main","className":"banner-main-section","style":{"spacing":{"padding":{"top":"0","bottom":"0","left":"0","right":"0"},"margin":{"top":"0","bottom":"0"}}},"backgroundColor":"clip","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group banner-main-section has-clip-background-color has-background" style="margin-top:0;margin-bottom:0;padding-top:0;padding-right:0;padding-bottom:0;padding-left:0">
        <!-- wp:pattern {"slug":"legacy-preschool-kindergarten/hero-banner"} /-->
    </main>
<!-- /wp:group -->
   
    <!-- wp:pattern {"slug":"legacy-preschool-kindergarten/services"} /-->

    <!-- wp:pattern {"slug":"legacy-preschool-kindergarten/homepage-blog"} /-->

<!-- wp:template-part {"slug":"footer","tagName":"footer"} /-->