/*
 * CSS for theme menu page.
 */

.theme-wrap {
	align-items: center;
	background-color: #ffffff;
	display: flex;
	flex-wrap: wrap;
	height: 100vh;
	justify-content: center;
	margin: 0
}
.theme-column {
    box-sizing: border-box
}
.theme-wrap-inner {
    padding: 30px;
    text-align: center
}
.theme-wrap h1 {
    font-size: clamp(1.5rem, 2.5vw, 3rem);
    line-height: 1.3;
    margin-bottom: 0
}
.theme-wrap p {
	font-size: 16px
}
.quick-links {
    margin-top: 40px
}
.theme-wrap .quick-links a {
    margin: 10px
}
.theme-image {
    border: 1px solid #e5e5e5;
	padding: 15px
}
.theme-image img {
	max-width: 300px
}
@media (max-width: 480px) {
	.theme-image img {
		max-width: 200px
	}
}