/*
 * CSS for both editor and front-end.
 */

/* Button */
.is-style-rainbow-preschool-flat-button .wp-block-button__link,
.is-style-rainbow-preschool-flat-button .wp-block-button__link:active,
.is-style-rainbow-preschool-flat-button .wp-block-button__link:focus,
.is-style-rainbow-preschool-flat-button .wp-block-button__link:hover,
.is-style-rainbow-preschool-flat-button .wp-block-button__link:visited {
    border-radius: 0;
    box-shadow: none;
    margin-bottom: 0;
    margin-top: 0
}

/* Box shadow */
.is-style-rainbow-preschool-box-shadow {
    box-shadow: var(--wp--preset--shadow--natural)
}

/* List */
.is-style-rainbow-preschool-list-underline li {
    border-bottom: 1px solid
}
.is-style-rainbow-preschool-list-underline ul {
    border-top: 1px solid
}
.is-style-rainbow-preschool-list-underline ul li {
    border: none
}
details.is-style-rainbow-preschool-plus>summary {
    list-style-type: "+ "
}
details[open].is-style-rainbow-preschool-plus>summary {
    list-style-type: "- "
}
details.is-style-rainbow-preschool-plus>summary::marker {
    font-family: var(--wp--preset--font-family--monospace);
    font-size: 1em;
    font-weight: 700
}

/* WooCommerce */
.wc-block-grid .wc-block-grid__product-onsale,
.wc-block-grid__product-image .wc-block-grid__product-onsale,
.woocommerce span.onsale {
    background-color: var(--wp--preset--color--primary);
    border: none;
    border-radius: 100%;
    color: var(--wp--preset--color--contrast);
    font-size: 1rem;
    height: 3.7rem;
    line-height: 3.236;
    text-align: center;
    text-transform: capitalize;
    width: 3.7rem
}
.woocommerce div.product .stock {
    color: var(--wp--preset--color--primary)
}

/* Latest posts */
.wp-block-latest-posts li {
    margin-bottom: 40px;
}

a {
  text-decoration: none;
}
.entry-content a {
  text-decoration: underline;
}
a:where(:not(.wp-element-button)):hover {
    text-decoration: underline;
}